/**
  |============================
  | Benefits section
  |============================
*/
.benefits {
  &__list {
    --items: 1;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--grey-bg-cl);
  }

  &__subtitle {
    margin-bottom: 10px;

    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
  }

  @media screen and (min-width: 768px) {
    &__list {
      --items: 2;
    }

    &__subtitle {
      text-align: left;
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      --items: 4;
    }
  }
}
