/**
  |============================
  | Clients section
  |============================
*/
.clients {
  &__list {
    --items: 2;

    @media screen and (min-width: 768px) {
      --items: 3;
    }

    @media screen and (min-width: 1200px) {
      --items: 6;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 92px;

    color: var(--icon-primary-cl);
    border: 1px solid var(--icon-primary-cl);
    border-radius: 4px;

    transition: border var(--anim);

    &:hover,
    &:focus {
      color: var(--accent-cl);
      border-color: var(--accent-cl);
    }
  }

  &__icon {
    fill: currentColor;

    transition: color var(--anim);
  }
}
