/* Page-header contacts */

.page-header__contacts {
    display: flex;
    gap: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;

    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--grey-txt-cl);

    transition: color var(--anim);
    
    &:hover,
    &:focus {
        color: var(--accent-cl);
    }
}

.contacts__icon {
    fill: currentColor;
}
