/**
  |============================
  | Footer page
  |============================
*/

.page-footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &__contacts {
    margin-bottom: 60px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      row-gap: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      text-align: left;
      padding-right: 0;
      padding-left: 0;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &__contacts {
      margin-bottom: 0;
    }
  }
}

/* Address in page-footer */

.address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);

  &__text {
    margin-bottom: 9px;
  }

  &__item:first-child {
    margin-bottom: 9px;
  }

  &__link {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

/* Subscribe group in page-footer */
.join {
  margin-bottom: 60px;

  &__title {
    margin-bottom: 20px;

    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
  }

  @media screen and (min-width: 1200px) {
    & {
      // margin-right: 93px;
      margin-bottom: 0;
    }
  }
}
/* Subscribe form in page-footer */
.subscribe-form {
  &__field {
    display: block;
    margin-bottom: 20px;
  }

  &__label {
    display: block;

    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
  }

  &__input {
    width: 100%;
    height: 50px;

    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-txt-cl);
    background-color: var(--dark-bg-cl);

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  @media screen and (min-width: 768px) {
    &__input {
      width: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      display: flex;
      align-items: flex-end;
    }

    &__field {
      margin-right: 12px;
      margin-bottom: 0;
    }

    &__input {
      width: 358px;
    }
  }
}
