/* Subscribe group in page-footer */
.join {
  margin-right: 93px;

  &__title {
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
  }
}
