/**
  |============================
  | Benefits section
  |============================
*/
.benefits {
  &__list {
    display: block;

    @media screen and (min-width: 768px) {
      display: flex;
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--grey-bg-cl);
  }

  &__subtitle {
    margin-bottom: 10px;

    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
  }
}
